@font-face {
    font-family: Poppins;
    src: local(Poppins-Bold),
         url(@/assets/fonts/Poppins-Bold.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: Poppins;
    src: local(Poppins-Regular),
         url(@/assets/fonts/Poppins-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}