@import "./variables.css";
@import "./color-classes.css";
@import "./fonts.css";
@import "./font-classes.css";

@import "tailwindcss";

* {
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    position: relative;
    font-family: Poppins;
    scroll-behavior: smooth;
}

.avatar {
    border-radius: var(--radius-full);
    margin-right: var(--space-3);
    object-fit: cover;
    display: flex;
}

.avatar-pp {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
}

.avatar-g {
  width: 120px;
  height: 120px;
  min-width: 120px;
  min-height: 120px;
  max-width: 120px;
  max-height: 120px;
}

.rounded-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: var(--radius-full);
  background: var(--cinza-claro);
  cursor: pointer;

  &:hover {
    background: var(--cinza-medio);
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-4);
  gap: var(--space-4);
  border-radius: var(--radius-md);
  border: none;
  cursor: pointer;
  transition: all 0.4s;
  width: 100%;
  max-width: 300px;
  font-size: var(--fontsize-md);
  font-weight: 600;
  height: 42px;

  & svg {
    margin-right: var(--space-3);
  }

  &.btn-primary {
    background: var(--verde-escuro);
    color: var(--branco);

    &::after {
      border-top-color: var(--verde-escuro);
    }

    &:disabled {
      background: var(--verde);
      cursor: initial;

      &:hover {
        background: var(--verde);
      }
    }
  }

    &.btn-primary:hover {
      background: var(--verde-escuro-2);
    }

    &.btn-primary:active, &.btn-primary:focus {
      outline: 2px solid var(--verde);
    }

    &.btn-cinza {
      background: var(--cinza-claro);
      color: var(--preto);

      &::after {
        border-top-color: var(--cinza);
      }

      &:disabled {
        background: var(--cinza-claro);
        cursor: initial;
  
        &:hover {
          background: var(--cinza-claro);
        }
      }
    }
  
      &.btn-cinza:hover {
        background: var(--cinza-medio);
      }
  
      &.btn-cinza:active, &.btn-cinza:focus {
        outline: 2px solid var(--cinza);
      }
  
  &.btn-red {
    background: var(--vermelho);
    color: var(--branco);

    &::after {
      border-top-color: var(--vermelho-claro);
    }

    &:disabled {
      background: var(--vermelho-claro);
      cursor: initial;

      &:hover {
        background: var(--vermelho-claro);
      }
    }
  }

    &.btn-red:hover {
      background: var(--vermelho-claro);
    }

    &.btn-red:active, &.btn-red:focus {
      outline: 2px solid var(--vermelho);
    }

  &.btn-primary-alt {
    background: var(--branco);
    color: var(--verde-escuro);
    border: 1px solid var(--verde-escuro);
  }

    &.btn-primary-alt:hover {
      background: var(--verde-escuro-2);
      color: var(--branco);
    }

    &.btn-primary-alt:active, &.btn-primary-alt:focus {
      outline: 2px solid var(--verde);
    }
 
  &.btn-square {
    max-width: 40px;
  }

  &.btn-square svg {
    margin: 0;
  }
}

.rounded-btn {
  padding: var(--space-3);
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  border: none;
  border-radius: var(--radius-full);
  margin: var(--space-2);
  cursor: pointer;

  &.small {
      width: 30px;
      height: 30px;
      min-width: 30px;
      min-height: 30px;
      max-width: 30px;
      max-height: 30px;
  }

  & span {
    font-size: var(--fontsize-lg);
  }
}
.tag {
  background: var(--cinza-medio);
  width: fit-content;
  padding: var(--space-3);
  border-radius: var(--radius-md);

  &.red {
    background: var(--vermelho);
    color: var(--branco);
  }

  &.yellow {
    background: var(--amarelo);
  }

  &.green {
    background: var(--verde-escuro);
    color: var(--branco);
  }
}

input[type="submit"] {
  display: none;
}

.btn-loading::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: var(--radius-full);
  border: 5px solid var(--branco);
  animation: spin 1s linear infinite;
  margin-left: var(--space-3);
}

@keyframes spin {
  0% {
      transform: rotate(0);
  }

  100% {
      transform: rotate(360deg);
  }
}

input:not([type="checkbox"]):not([type="radio"]), textarea, select, .input {
  max-width: 300px;
  padding: var(--space-3);
  border-radius: var(--radius-md);
  border: 1px solid var(--cinza-medio);
  margin-right: var(--space-3);
  position: relative;
  background: var(--branco);
}

  input:not([type="checkbox"]):not([type="radio"]):focus, textarea:focus, select:focus, .input.focus {
    outline: 2px solid var(--verde-escuro);
  }

.form-group, .input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

  .form-group input:not([type="checkbox"]):not([type="radio"]), .form-group .input, .form-group select, .input-group input:not([type="checkbox"]):not([type="radio"]), .input-group select, .input-group textarea, .input-group .input {
    max-width: 100%;
    width: 100%;
    height: 44px;
    margin: 0;
  }

  .form-group select[multiple], .input-group select[multiple] {
    height: 100px !important;
  }

  .input-group textarea {
    height: 150px;
    resize: none;
  }

  .form-group label, .input-group label {
    font-size: var(--fontsize-md);
    color: var(--preto);
    cursor: pointer;
  }

.filter {
    margin: var(--space-6) 0;
    display: flex;

    & button {
      max-width: 200px;
    }
}

input[type="radio"] {
  border-radius: var(--radius-full);
}

input[type="checkbox"] {
  border-radius: var(--radius-sm);
}

input[type="checkbox"], input[type="radio"] {
  width: 23px;
  height: 23px;
  border: 2px solid var(--cinza-medio);
  appearance: none;
  cursor: pointer;
  position: relative;
  transition: all 0.4s;
}

  input[type="checkbox"]:hover, input[type="radio"]:hover {
    border: 2px solid var(--verde-escuro);
  }

  input[type="checkbox"]:checked, input[type="radio"]:checked {
    background: var(--verde-escuro);
    border: 2px solid var(--verde-escuro);
  }

    input[type="checkbox"]:checked::after {
      content: "\f00c"; /* Código unicode do ícone de check */
      font-family: "Font Awesome 6 Free"; /* Especifica a fonte do Font Awesome */
      font-weight: 900; /* Necessário para o estilo "solid" do Font Awesome */
      color: white;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    input[type="radio"]:checked::after {
      content: "";
      width: 17px;
      height: 17px;
      border-radius: var(--radius-full);
      border: 2px solid var(--branco);
      background: var(--verde-escuro);
      display: inline-block;
      position: absolute;
      left: 1px;
      top: 1px;
    }

.input-checkbox-group, .input-radio-group {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin: var(--space-3) 0;

  & label {
    cursor: pointer;
    margin-left: var(--space-3);
  }
}

@media (max-width: 768px) {
  input:not([type="checkbox"]):not([type="radio"]), textarea, select {
    
    max-width: 100%;
    margin-right: 0;
    margin-bottom: var(--space-3);
  }

  input[type="file"] {
    min-width: initial;
  }
}

.custom-invalid.invalid {
  border: 1px solid var(--vermelho);
  border-radius: var(--radius-md);
}

.authentication-header {
  margin-bottom: var(--space-7);
}

a:hover {
  color: var(--verde-escuro);
}

footer a:hover {
  color: var(--branco) !important;
  text-decoration: underline;
}

section {
  scroll-margin-top: 120px;
}

/* ANIMAÇÕES DO VUE */

/* Animação de entrada e saída */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(-10px); /* Opcional: um leve deslize de cima para baixo */
  opacity: 0;
  max-height: 0; /* Começa/termina com altura zero */
  /* overflow: hidden; já está no elemento principal, mas pode ser reforçado aqui se necessário */
}

.slide-fade-enter-to,
.slide-fade-leave-from {
  transform: translateY(0);
  opacity: 1;
  max-height: 500px; /* Defina um valor que seja maior que a altura máxima do seu menu */
}