:root {
    --azul: #4a90e2;
    --verde-claro: #f3fff0;
    --verde: #7cdf64;
    --cinza: #514f59;
    --amarelo-claro: #fff9e5;
    --amarelo: #ffcc17;
    --azul-escuro: #34495e;
    --vermelho: #d0021b;
    --vermelho-claro: #f097a2;
    --vermelho-claro-2: #ffdde1;
    --preto: #131313;
    --verde-escuro: #64b451;
    --verde-escuro-2: #4A8A3B;
    --cinza-medio: #dfdfdf;
    --branco: #f5f9fd;
    --azul-claro: #c8e1ff;
    --cinza-claro: #f4f4f4;

    /* Spaces */
    --space-0: 1px;
    --space-1: 4px;
    --space-2: 6px;
    --space-3: 8px;
    --space-4: 12px;
    --space-5: 16px;
    --space-6: 20px;
    --space-7: 24px;
    --space-8: 32px;
    --space-10: 40px;
    --space-12: 48px;
    --space-16: 64px;
    --space-20: 80px;
    --space-40: 160px;
    --space-64: 256px;
    --space-80: 320px;

    /* Border Radius */
    --radius-sm: 6px;
    --radius-md: 8px;
    --radius-lg: 12px;
    --radius-full: 100%;
    
    /* Box Shadow */
    --boxshadow-default: 2px 2px 10px rgba(0, 0, 0, 0.05);
    --boxshadow-regular: 4px 4px 20px rgba(0, 0, 0, 0.15);
    --boxshadow-bold: 4px 4px 20px rgba(0, 0, 0, 0.2);
}